@import "../../scss/mixins";

.weather-sidebar {
	&__content {
		min-height: 100%;
		@include adaptive-value(padding, 40, 20, "px");
		background: #f4f4f4;
		box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.1);
		border-radius: 0px 40px 40px 0px;
	}

	.divider {
		// margin-bottom: 30px;
		@include adaptive-value(margin-bottom, 30, 15, "px");
	}

	&__search {
		display: flex;
		align-items: center;
		max-width: 400px;
		width: 100%;
		position: relative;
		margin: 0 auto;
		// margin-bottom: 90px;
		@include adaptive-value(margin-bottom, 90, 45, "px");

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 15px;
			height: 100%;
			width: 22px;
			background-position: center 7px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../../images/search-interface-symbol.png");
			z-index: 10;
		}

		input {
			position: relative;
			flex: 0 1 350px;
			background: rgba(196, 196, 196, 0.65);
			border: none;
			border-radius: 25px;
			height: 35px;
			text-align: center;
			margin-right: 10px;
			font-weight: 700;
			@include adaptive-value(font-size, 16, 12, "px");
			text-align: center;
			color: #7c7c7c;
		}

		button {
			position: relative;
			height: 35px;
			min-width: 35px;
			border: none;
			background: rgba(196, 196, 196, 0.65);
			border-radius: 50%;
			cursor: pointer;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: 70%;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("../../images/pin.png");
			}
		}
	}

	&__weather-status {
		display: flex;
		justify-content: center;
		// margin-bottom: 80px;
		@include adaptive-value(margin-bottom, 80, 40, "px");

		img {
			max-width: 250px;
			width: 100%;
		}
	}

	&__temperature {
		font-weight: 700;
		@include adaptive-value(font-size, 65, 45, "px");
		// margin-bottom: 32px;
		@include adaptive-value(margin-bottom, 32, 16, "px");

		span {
			font-weight: 300;
		}
	}

	&__location {
		font-weight: 700;
		@include adaptive-value(font-size, 36, 24, "px");
		color: #000000;
		margin-bottom: 6px;
	}

	&__day-time {
		font-weight: 500;
		@include adaptive-value(font-size, 28, 20, "px");
		color: #000000;
		// margin-bottom: 30px;
		@include adaptive-value(margin-bottom, 30, 15, "px");

		span {
			font-weight: 500;
			@include adaptive-value(font-size, 28, 20, "px");
			color: #8a8a8a;
		}
	}

	&__fact-title {
		text-align: center;
		font-style: italic;
		font-weight: 500;
		@include adaptive-value(font-size, 26, 20, "px");
		// margin-bottom: 30px;
		@include adaptive-value(margin-bottom, 30, 15, "px");
	}

	&__fact {
		font-weight: 300;
		@include adaptive-value(font-size, 26, 18, "px");
	}
}

// media query

// width
@media (max-width: 1190px) {
	.weather-sidebar {
		&__content {
			width: 100vw;
			min-height: auto;
			border-radius: 0;
		}

		&__search {
			max-width: 100%;
			width: 100%;
			justify-content: space-between;

			input {
				flex: 0 1 85%;
			}
		}
	}
}

@media (max-width: 480px) {
	.weather-sidebar {
		.divider {
			display: none;
		}

		&__fact-title {
			display: none;
		}

		&__fact {
			display: none;
		}
	}
}

// height
@media (max-height: 1000px) {
	.weather-sidebar {
		&__content {
			padding: 20px;
			.divider {
				margin-bottom: 15px;
			}
		}

		&__search {
			margin-bottom: 45px;
		}

		&__weather-status {
			margin-bottom: 40px;

			img {
				max-width: 200px;
			}
		}

		&__temperature {
			margin-bottom: 16px;
			font-size: 45px;
		}

		&__location {
			margin-bottom: 0px;
			font-size: 24px;
		}

		&__day-time {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__fact-title {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__fact {
			font-size: 18px;
		}
	}
}
