@import "../../scss/mixins";

// weather
.weather {
	display: grid;
	height: 100vh;
	grid-template-columns: 500px 1fr;

	&__choose-title {
		font-weight: 500;
		@include adaptive-value(font-size, 36, 24, "px");
		@include adaptive-value(margin-bottom, 40, 20, "px");
	}
}

// weather-main
.weather-main {
	@include adaptive-value(padding, 35, 20, "px");
}

// weather-controls
.weather-controls {
	display: flex;
	justify-content: center;
	&__content {
		@include adaptive-value(margin-bottom, 45, 30, "px");
	}

	&__text {
		font-weight: 400;
		font-size: 28px;
	}
}

// media query
// width
@media (max-width: 1700px) {
	.weather {
		grid-template-columns: 400px 1fr;
	}
}

@media (max-width: 1430px) {
	.weather {
		grid-template-columns: 350px 1fr;
	}
}

@media (max-width: 1190px) {
	.weather {
		display: block;
	}
}

// height
@media (max-height: 1000px) {
	.weather {
		&__choose-title {
			margin-bottom: 20px;
		}
	}

	.weather-main {
		padding: 20px;
	}

	.weather-controls {
		&__content {
			margin-bottom: 20px;
		}
	}
}
