@import "../../scss/mixins";

.weather-sidebar {
	&__content {
		position: relative;
		min-height: 100%;
		@include adaptive-value(padding, 40, 20, "px");
		background: #f4f4f4;
		box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.1);
		border-radius: 0px 40px 40px 0px;
	}

	.divider {
		@include adaptive-value(margin-bottom, 30, 15, "px");
	}

	&__weather-status {
		display: flex;
		justify-content: center;
		@include adaptive-value(margin-bottom, 80, 40, "px");

		img {
			max-width: 250px;
			width: 100%;
		}
	}

	&__temperature {
		font-weight: 700;
		@include adaptive-value(font-size, 65, 45, "px");
		@include adaptive-value(margin-bottom, 32, 16, "px");

		span {
			font-weight: 300;
		}
	}

	&__location {
		font-weight: 700;
		@include adaptive-value(font-size, 36, 24, "px");
		color: #000000;
		margin-bottom: 6px;
	}

	&__day-time {
		font-weight: 500;
		@include adaptive-value(font-size, 28, 20, "px");
		color: #000000;
		@include adaptive-value(margin-bottom, 30, 15, "px");

		span {
			font-weight: 500;
			@include adaptive-value(font-size, 28, 20, "px");
			color: #8a8a8a;
		}
	}

	&__fact-title {
		text-align: center;
		font-style: italic;
		font-weight: 500;
		@include adaptive-value(font-size, 26, 20, "px");
		@include adaptive-value(margin-bottom, 30, 15, "px");
	}

	&__fact {
		font-weight: 300;
		@include adaptive-value(font-size, 26, 18, "px");
	}
}

// media query

// width
@media (max-width: 1190px) {
	.weather-sidebar {
		&__content {
			width: 100vw;
			min-height: auto;
			border-radius: 0;
		}

		&__search {
			max-width: 100%;
			width: 100%;
			justify-content: space-between;

			input {
				flex: 0 1 85%;
			}
		}
	}
}

@media (max-width: 480px) {
	.weather-sidebar {
		.divider {
			display: none;
		}

		&__fact-title {
			display: none;
		}

		&__fact {
			display: none;
		}
	}
}

// height
@media (max-height: 1000px) {
	.weather-sidebar {
		&__content {
			padding: 20px;
			.divider {
				margin-bottom: 15px;
			}
		}

		&__search {
			margin-bottom: 45px;
		}

		&__weather-status {
			margin-bottom: 40px;

			img {
				max-width: 200px;
			}
		}

		&__temperature {
			margin-bottom: 16px;
			font-size: 45px;
		}

		&__location {
			margin-bottom: 0px;
			font-size: 24px;
		}

		&__day-time {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__fact-title {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__fact {
			font-size: 18px;
		}
	}
}
