@import "../../scss/mixins";

.weather-weekly {
	&__content {
		@include adaptive-value(margin-bottom, 100, 50, "px");
	}

	&__list {
		display: flex;
		justify-content: center;
		@include adaptive-value(gap, 50, 25, "px");
	}
}

// media query

// width
@media (max-width: 1525px) {
	.weather-weekly {
		&__list {
			flex-wrap: wrap;
		}
	}
}

// height
@media (max-height: 1000px) {
	.weather-weekly {
		&__content {
			margin-bottom: 50px;
		}
	}
}
