@import "../../scss/mixins";

.weather-day-info {
	position: relative;
	z-index: -10;
	&__content {
		height: 100%;
		display: flex;
		gap: 1.875rem;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.875rem;
		flex-wrap: wrap;
		max-width: 960px;
	}
}

.info-list {
	&__item {
		position: relative;
		padding: 20px;
		max-width: 300px;
		max-height: 250px;
		height: 100vh;
		background: #ffffff;
		box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		flex: 0 1 300px;
	}

	&__title {
		font-weight: 600;
		@include adaptive-value(font-size, 22, 18, "px");
		color: #8a8a8a;
		@include adaptive-value(margin-bottom, 50, 25, "px");
	}
}

// uv-index
.uv-index {
	height: 100%;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: inherit;
	}

	&__main-bar {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 220px;

		span {
			position: absolute;
			font-size: 20px;
			color: #b4b4b4;
		}
	}

	&__main-bar-1 {
		top: 70%;
		left: -6%;
	}

	&__main-bar-2 {
		top: 35%;
		left: -2%;
	}

	&__main-bar-3 {
		top: 10%;
		left: 7%;
	}

	&__main-bar-4 {
		top: -10%;
		left: 18%;
	}

	&__main-bar-5 {
		top: -20%;
		left: 33%;
	}

	&__main-bar-6 {
		top: -25%;
		right: 48%;
	}

	&__main-bar-7 {
		top: -20%;
		right: 33%;
	}

	&__main-bar-8 {
		top: -10%;
		right: 18%;
	}

	&__main-bar-9 {
		top: 10%;
		right: 5%;
	}

	&__main-bar-10 {
		top: 35%;
		right: -5%;
	}

	&__main-bar-11 {
		top: 70%;
		right: -10%;
	}

	&__main-bar-body {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-bottom: 50%;
		background-color: rgba(196, 196, 196, 0.65);
		border-top-left-radius: 100% 200%;
		border-top-right-radius: 100% 200%;

		&::before {
			content: "";
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			height: 180%;
			background-color: #fff;
			border-radius: 50%;
			z-index: 10;
		}
	}

	&__main-bar-fill {
		position: absolute;
		top: 100%;
		left: 0;
		width: inherit;
		height: 100%;
		background-color: orange;
		transform-origin: center top;
		transition: transform 0.6s cubic-bezier(0, 0.5, 0.5, 1);
	}
}

// sun-set-rise
.sun-set-rise {
	height: 100%;

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__time {
		font-weight: 500;
		@include adaptive-value(font-size, 32, 26, "px");
	}

	&__block {
		&:first-child {
			margin-bottom: 30px;
		}

		display: flex;
		align-items: center;

		img {
			max-width: 50px;
			width: 100%;
			@include adaptive-value(margin-right, 20, 10, "px");
		}
	}
}

// humidity
.humidity {
	height: 100%;

	&__content {
		height: 100%;
	}

	&__value-int {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		@include adaptive-value(margin-bottom, 50, 25, "px");

		span {
			@include adaptive-value(font-size, 28, 16, "px");
		}
	}

	&__value-bar {
		position: absolute;
		display: flex;
		align-items: flex-end;
		top: 50%;
		margin-top: -50px;
		right: 20px;
		width: 25px;
		height: 100px;
		border: 2px solid #c4c4c4;
		border-radius: 100px;
		padding: 2px;
	}

	&__value-bar-fill {
		transition: height 0.7s cubic-bezier(0, 0.5, 0.5, 1);
		background: #58afee;
		border-radius: 50px;
		width: 100%;
	}

	&__value-string {
		font-weight: 300;
		@include adaptive-value(font-size, 20, 16, "px");
		color: #000000;
	}
}

// visibility
.visibility {
	height: 100%;

	&__content {
		height: 100%;
	}

	&__value-of {
		font-weight: 700;
		font-size: 48px;
		@include adaptive-value(margin-bottom, 50, 25, "px");

		span {
			@include adaptive-value(font-size, 28, 16, "px");
		}
	}

	&__value-string {
		font-weight: 300;
		@include adaptive-value(font-size, 20, 16, "px");
		color: #000000;
	}
}

// temperature

.powered-by {
	flex: 0 1 35%;
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 250px;
		height: 100%;
		background: #ffffff;
		box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		writing-mode: vertical-rl;
		text-align: center;
		color: #000000;
	}
}

// media query

// width
@media (max-width: 1859px) {
	.weather-day-info {
		&__content {
			justify-content: center;

			> span {
				display: none;
			}
		}
	}

	.powered-by {
		display: none;
	}
}

@media (max-width: 669px) {
	.info-list {
		&__item {
			height: auto;
		}
	}
}

// height
@media (max-height: 1000px) {
}
