@import "../../scss/mixins";

.weather-controls {
	display: flex;
	justify-content: center;
	&__content {
		@include adaptive-value(margin-bottom, 45, 20, "px");

		span {
			color: #000000;
			font-weight: 800;
			@include adaptive-value(font-size, 28, 20, "px");
		}
	}

	&__button {
		font-weight: 800;
		@include adaptive-value(font-size, 28, 20, "px");
		color: #000000;
		background-color: transparent;
	}
}

// media query

// height
@media (max-height: 1000px) {
	.weather-controls {
		&__content {
			margin-bottom: 20px;
		}
	}
}
